header {
    width: 480px;
    height: 75px;
    min-width: 100%;
    
}

main {
    line-height: 250px;
}

aside {
    width: 480px;
    height: 150px; 
    min-width: 100%;
    
}


footer {
    width: 480px;
    height: 80px;
    min-width: 100%;
    
}

@media ( min-width: 768px)  {
 
header {
        width: 960px;
        height: 100px;
        max-width: 100%;
}


aside {
    width: 200px  !important;
    height: 600px; 
    min-width: 200px;
    float: left;
    
}

footer {
    min-width: calc(100% - 200px);
    height: 150px;
    float: right;
}
}   
