
header {
    width: 480px;
    height: 75px;
    min-width: 100%;
    
}

aside {
    width: 480px;
    height: 150px; 
    min-width: 100%;
    
}

#cDiv {
    width: 480px;
    height: 125px;
    min-width: 100%;
   
    
}

#dDiv {
    width: 480px;
    height: 125px;
    min-width: 100%;
    
   
}

#eDiv {
    width: 240px;
    height: 250px;
    min-width: 100%;
}

#fDiv {
    width: 240px;
    height: 250px;
    min-width: 100%;
   
}


#gDiv {
    width: 240px;
    height: 250px;
    min-width: 100%;
    
}

#hDiv {
    width: 240px;
    height: 250px;
    min-width: 100%;
    
}

footer {
    width: 480px;
    height: 80px;
    min-width: 100%;
}


@media ( min-width: 481px) and (max-width: 768px) {

    header {
        width: 760px;
        height: 100px;
        max-width: 100%;
        
    }  


    aside {
    width: 100% ;
    height: 600px; 
    min-width: 200px;
   
    }

    #cDiv {
        width: 100%;
        height: 100px;
        min-width: 100%;
    }
 

    #dDiv {
        width: 100%;
        height: 100px;
        min-width: 100%;
    }

    #eDiv , #fDiv , #gDiv , #hDiv {
        
        height: 125px;
    }

    
    footer  {
        min-width: 100%;
        height: 150px;
        
    } 
} 

@media ( min-width: 769px) {

    header {
        width: 960px;
        height: 100px;
        max-width: 100%;
    }  


    aside {
    width: 100% ;
    height: 600px; 
    min-width: 200px;
    }

    #cDiv {
        width: 380px;
        height: 200px;
        min-width: 50%;
    }
 

    #dDiv {
        width: 380px;
        height: 200px;
        min-width: 50%;
    }

    #eDiv , #fDiv , #gDiv , #hDiv {
        width:190px;
        height: 250px;
    }
    
    footer  {
        width: 760px;
        height: 150px;
    } 


} 
