header {
    background-color: gray;
    text-align: center;
    line-height: 75px; 
}

aside {
    background-color: #c5d7bd;  
    line-height: 150px;
    text-align: center; 
}

#cDiv {
    background-color: hotpink;
    text-align: center;
    line-height: 125px;
    
}

#dDiv {
    background-color: indigo;
    text-align: center;
    line-height: 125px;
   
}

#eDiv {

    background-color: lightgreen;
    text-align: center;
    line-height: 250px; 
}

#fDiv {
    background-color: midnightblue;
    text-align: center;
    line-height: 250px;
    
}


#gDiv {
    background-color: olive;
    text-align: center;
    line-height: 250px;

}

#hDiv {
    background-color: orange;
    text-align: center;
    line-height: 250px;
   
}

footer {
    background-color: green;
    text-align: center;
    line-height: 80px;
}

@media ( min-width: 481px) and (max-width: 768px) {

    header {
        background-color: #e40017 ;
        text-align: center;
        line-height: 100px;
    }  


    aside {
    background-color: #94ebcd;
    line-height: 600px;
    text-align: center;
    }

    #cDiv {
        
        background-color: #a1cae2;
        text-align: center;
        line-height: 100px;
        
    }
 

    #dDiv {
        
        background-color: #91091e;
        text-align: center;
        line-height: 100px;
       
    }

    #eDiv , #fDiv , #gDiv , #hDiv {
        
        line-height: 125px;
    }

    #eDiv {
        background-color: #822659;
    } 

    #fDiv {
        background-color: #a4ebf3;
    } 

    #gDiv {
        background-color: #ffc75f ;
    } 

    #hDiv {
        background-color: #351f39 ;
    } 

    footer  {
        
        background-color: #da723c;
        text-align: center;
        line-height: 150px;
    } 
} 


@media ( min-width: 769px) {

    header {
        background-color: palegreen;
        text-align: center;
        line-height: 100px;
    }  


    aside {
    background-color: palevioletred;
    line-height: 600px;
    text-align: center;
    }

    #cDiv {
        
        background-color: peru;
        text-align: center;
        line-height: 200px;
    }
 

    #dDiv {
       
        background-color: salmon;
        text-align: center;
        line-height: 200px;
        
    }
    
    footer  {
        background-color: steelblue;
        text-align: center;
        line-height: 150px;
    } 


} 
